@import './utility/variables.scss';
// Define styles for background
body {
    background-color: $background-color;
}
.panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    background: $bg-evelated;
    .panel-add{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5rem;
        input{
            height: 2rem;
            font-size: 1.3rem;
        }
    }
}
.container-carts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 1rem;
    margin: 1rem auto 0 auto;
    .bar {
        display: flex;
        gap: 3rem;
        justify-content: space-between;
        padding: 0.5rem;
        background-color: $bg-evelated;
        border-radius: 4px;
        min-width: 35%;
        max-width: 25rem;
        transition: 0.3s all;

        &:hover {
            box-shadow: 0.2rem 0.5rem 5px 0.1px rgba(2, 2, 2, 0.288);
            transform: scale(1.05);
        }

        .buttons {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .delete-button {
                color: #ff4136;
            }

            .check-button {
                display: flex;
                text-align: center;
                
            }
        }

        .text {
            color: $text-color;
            font-size: 1.25rem;
        }

        button {
            transition: 0.3s all;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}